# Analysing criminal data from NY between 2014 and 2015

In [1]:
%pylab inline
import numpy
import pandas
import matplotlib.pyplot as plt
import dateutil.parser as parser

import warnings
warnings.filterwarnings('ignore')

Populating the interactive namespace from numpy and matplotlib

### Creating functions

In [2]:
def getYear(date):
    try:
        year = date.strftime('%Y-%m-%d')
        return parser.parse(year).year
    except:
        return np.nan
    
def getMonth(date):
    try:
        month = date.strftime('%Y-%m-%d')
        return parser.parse(month).month
    except:
        return np.nan
    
def getDay(date):
    try:
        day = date.strftime('%Y-%m-%d')
        return parser.parse(day).day
    except:
        return np.nan
    
def getHour(date):
    try:
        return int(date.strftime('%H:%m').split(':')[0])
    except:
        return np.nan
    
def getMinute(date):
    try:
        return int(date.strftime('%H:%m').split(':')[1])
    except:
        return np.nan

### Reading data historic

In [3]:
ds = pandas.read_csv("NYPD_Complaint_Data_Historic.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
ds.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314,241257,40.82884833,-73.91666114,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103,OUTSIDE,NaN,NaN,NaN,1043991,193406,40.69733814,-73.78455674,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503,"CONTROLLED SUBSTANCE,INTENT TO",...,28,NaN,OTHER,NaN,NaN,999463,231690,40.80260661,-73.94505191,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101,ASSAULT 3,...,105,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183,177862,40.65454944,-73.72633879,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101,ASSAULT 3,...,13,FRONT OF,OTHER,NaN,NaN,987606,208148,40.7380024,-73.98789129,"(40.7380024, -73.98789129)"

### Exploring data

In [5]:
ds.shape

(1048575, 24)

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
CMPLNT_NUM           1048575 non-null object
CMPLNT_FR_DT         1048510 non-null object
CMPLNT_FR_TM         1048575 non-null object
CMPLNT_TO_DT         842616 non-null object
CMPLNT_TO_TM         843002 non-null object
RPT_DT               1048575 non-null object
KY_CD                1048575 non-null object
OFNS_DESC            1045695 non-null object
PD_CD                1047842 non-null object
PD_DESC              1047842 non-null object
CRM_ATPT_CPTD_CD     1048574 non-null object
LAW_CAT_CD           1048575 non-null object
JURIS_DESC           1048575 non-null object
BORO_NM              1048575 non-null object
ADDR_PCT_CD          1048574 non-null object
LOC_OF_OCCUR_DESC    830823 non-null object
PREM_TYP_DESC        1043886 non-null object
PARKS_NM             7599 non-null object
HADEVELOPT           51772 non-null object
X_COORD_CD           1016158 non-null object
Y_COORD_CD           1016158 non-null object
Latitude             1016158 non-null object
Longitude            1016158 non-null object
Lat_Lon              1016158 non-null object
dtypes: object(24)
memory usage: 192.0+ MB