# Analysing criminal data from NY between 2014 and 2015

In [1]:
%pylab inline
import numpy
import pandas
import matplotlib.pyplot as plt
import dateutil.parser as parser

import warnings
warnings.filterwarnings('ignore')

Populating the interactive namespace from numpy and matplotlib

### Creating functions

In [2]:
def getYear(date):
    try:
        year = date.strftime('%Y-%m-%d')
        return parser.parse(year).year
    except:
        return np.nan
    
def getMonth(date):
    try:
        month = date.strftime('%Y-%m-%d')
        return parser.parse(month).month
    except:
        return np.nan
    
def getDay(date):
    try:
        day = date.strftime('%Y-%m-%d')
        return parser.parse(day).day
    except:
        return np.nan
    
def getHour(date):
    try:
        return int(date.strftime('%H:%m').split(':')[0])
    except:
        return np.nan
    
def getMinute(date):
    try:
        return int(date.strftime('%H:%m').split(':')[1])
    except:
        return np.nan

### Reading data historic

In [3]:
ds = pandas.read_csv("NYPD_Complaint_Data_Historic.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
ds.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314,241257,40.82884833,-73.91666114,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103,OUTSIDE,NaN,NaN,NaN,1043991,193406,40.69733814,-73.78455674,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503,"CONTROLLED SUBSTANCE,INTENT TO",...,28,NaN,OTHER,NaN,NaN,999463,231690,40.80260661,-73.94505191,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101,ASSAULT 3,...,105,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183,177862,40.65454944,-73.72633879,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101,ASSAULT 3,...,13,FRONT OF,OTHER,NaN,NaN,987606,208148,40.7380024,-73.98789129,"(40.7380024, -73.98789129)"

### Exploring data

In [4]:
ds.shape

(1048575, 24)

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
CMPLNT_NUM           1048575 non-null object
CMPLNT_FR_DT         1048510 non-null object
CMPLNT_FR_TM         1048575 non-null object
CMPLNT_TO_DT         842616 non-null object
CMPLNT_TO_TM         843002 non-null object
RPT_DT               1048575 non-null object
KY_CD                1048575 non-null object
OFNS_DESC            1045695 non-null object
PD_CD                1047842 non-null object
PD_DESC              1047842 non-null object
CRM_ATPT_CPTD_CD     1048574 non-null object
LAW_CAT_CD           1048575 non-null object
JURIS_DESC           1048575 non-null object
BORO_NM              1048575 non-null object
ADDR_PCT_CD          1048574 non-null object
LOC_OF_OCCUR_DESC    830823 non-null object
PREM_TYP_DESC        1043886 non-null object
PARKS_NM             7599 non-null object
HADEVELOPT           51772 non-null object
X_COORD_CD           1016158 non-null object
Y_COORD_CD           1016158 non-null object
Latitude             1016158 non-null object
Longitude            1016158 non-null object
Lat_Lon              1016158 non-null object
dtypes: object(24)
memory usage: 192.0+ MB

In [7]:
ds.describe()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
count,1048575,1048510,1048575,842616,843002,1048575,1048575,1045695,1047842,1047842,...,1048574,830823,1043886,7599,51772,1016158,1016158,1016158,1016158,1016158
unique,1048575,2510,1440,1662,1440,804,72,68,384,373,...,77,5,70,863,268,57769,60874,87484,87500,87607
top,351549124,1/1/2014,12:00:00,10/17/2014,12:00:00,7/23/2015,341,PETIT LARCENY,101,ASSAULT 3,...,75,INSIDE,STREET,CENTRAL PARK,CASTLE HILL,987220,212676,40.75043077,-73.98928218,"(40.750430768, -73.989282176)"
freq,1,2211,27794,1367,14347,1696,180246,180246,93214,93214,...,36460,549718,320261,543,1106,3195,3227,3178,3178,3178

### Check the amount of null data in the file

In [9]:
for col in list(ds.columns.values):
    print ("Number of missing data on " + col,ds[col].isnull().values.sum())

Number of missing data on CMPLNT_NUM 0
Number of missing data on CMPLNT_FR_DT 65
Number of missing data on CMPLNT_FR_TM 0
Number of missing data on CMPLNT_TO_DT 205959
Number of missing data on CMPLNT_TO_TM 205573
Number of missing data on RPT_DT 0
Number of missing data on KY_CD 0
Number of missing data on OFNS_DESC 2880
Number of missing data on PD_CD 733
Number of missing data on PD_DESC 733
Number of missing data on CRM_ATPT_CPTD_CD 1
Number of missing data on LAW_CAT_CD 0
Number of missing data on JURIS_DESC 0
Number of missing data on BORO_NM 0
Number of missing data on ADDR_PCT_CD 1
Number of missing data on LOC_OF_OCCUR_DESC 217752
Number of missing data on PREM_TYP_DESC 4689
Number of missing data on PARKS_NM 1040976
Number of missing data on HADEVELOPT 996803
Number of missing data on X_COORD_CD 32417
Number of missing data on Y_COORD_CD 32417
Number of missing data on Latitude 32417
Number of missing data on Longitude 32417
Number of missing data on Lat_Lon 32417

In [32]:
# The total of PD_DESC null is MURDER & NON-NE in OFNS_DESC
ds[ds['PD_DESC'].isnull()].groupby(['OFNS_DESC']).size().to_frame('size').reset_index()

                         OFNS_DESC  size
0  MURDER & NON-NEGL. MANSLAUGHTER   733

In [42]:
print(ds[ds['OFNS_DESC'] == 'MURDER & NON-NEGL. MANSLAUGHTER'].shape[0])
print(ds[ds['PD_DESC'].isnull()].shape[0])
# When PD_DESC is null, OFNS_DESC é MURDER & NON-NEGL. MANSLAUGHTER

733
733

In [45]:
# Total of PD_DESC
ds.groupby(['PD_DESC']).size().to_frame('size').reset_index().sort_values(['size'], ascending=[False])

                                               PD_DESC   size
21                                           ASSAULT 3  93214
123                              HARASSMENT,SUBD 3,4,5  89064
204                     LARCENY,PETIT FROM STORE-SHOPL  57638
199                     LARCENY,PETIT FROM BUILDING,UN  47733
8                              AGGRAVATED HARASSMENT 2  44246
122                         HARASSMENT,SUBD 1,CIVILIAN  44116
20                            ASSAULT 2,1,UNCLASSIFIED  34791
236                     MISCHIEF, CRIMINAL 4, OF MOTOR  31401
197                            LARCENY,PETIT FROM AUTO  29061
79                    CRIMINAL MISCHIEF,UNCLASSIFIED 4  28411
224                        MARIJUANA, POSSESSION 4 & 5  26429
78                      CRIMINAL MISCHIEF 4TH, GRAFFIT  22215
64                      CONTROLLED SUBSTANCE, POSSESSI  19341
75                                 CRIMINAL CONTEMPT 1  16048
201                     LARCENY,PETIT FROM OPEN AREAS,  15845
231                              MENACING,UNCLASSIFIED  15146
140                        INTOXICATED DRIVING,ALCOHOL  15050
185                              LARCENY,GRAND OF AUTO  13665
37                              BURGLARY,RESIDENCE,DAY  13375
369                           WEAPONS, POSSESSION, ETC  12758
316                 ROBBERY,PERSONAL ELECTRONIC DEVICE  11794
184              LARCENY,GRAND FROM VEHICLE/MOTORCYCLE  10476
111                          FRAUD,UNCLASSIFIED-FELONY  10086
213                     LEAVING SCENE-ACCIDENT-PERSONA   9844
315                     ROBBERY,OPEN AREA UNCLASSIFIED   9421
105                     FORGERY,ETC.,UNCLASSIFIED-FELO   9095
356                               TRESPASS 2, CRIMINAL   8845
169  LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UN...   8393
207                           LARCENY,PETIT OF BICYCLE   8341
368                               WEAPONS POSSESSION 3   8003
..                                                 ...    ...
241                                   NOISE,UNECESSARY      2
1                                           ABORTION 1      2
89                          EDUCATION LAW,UNCLASSIFIED      2
74                         CREDIT CARD,UNLAWFUL USE OF      2
137                                             INCEST      2
58                 CONFINING ANIMAL IN VEHICLE/SHELTER      2
129                         HOMICIDE,NEGLIGENT,VEHICLE      2
302                                   ROBBERY,CLOTHING      2
88                              EDUCATION LAW, TRUANCY      2
96                        FACILITATION 3,2,1, CRIMINAL      2
158  LARCENY,GRAND BY CREDIT CARD COMPROMISE-UNAUTH...      1
240                              NEGLECT/POISON ANIMAL      1
370                         WEAPONS,MFR,TRANSPORT,ETC.      1
11                      AIR POLLUTION-MOTOR VEH (ADM C      1
91                               ENTERPRISE CORRUPTION      1
242                                 NUISANCE, CRIMINAL      1
92                         ENVIRONMENTAL CONTROL BOARD      1
84                    DISSEMINATING A FALSE SEX OFFEND      1
23                    ATTEND/SPECTATOR ANIMAL FIGHTING      1
110                                    FORTUNE TELLING      1
259                        POSS METH MANUFACT MATERIAL      1
144                       LABOR LAW,EMPLOYING CHILDREN      1
26                                              BIGAMY      1
307                                  ROBBERY,HIJACKING      1
215                      LOITERING 1ST DEGREE FOR DRUG      1
263                             POSTING ADVERTISEMENTS      1
211                             LARCENY,PETIT OF TRUCK      1
273                            PROSTITUTION,PERMITTING      1
51                             CHILD,LICENSED PREMISES      1
119                GENERAL BUSINESS LAW / UNCLASSIFIED      1

[373 rows x 2 columns]

In [68]:
# Verify if there are some PD_DESC with description that contains "MURDER"
ds[['PD_DESC']][ds['PD_DESC'].str.contains("MURDER") == True]

Empty DataFrame
Columns: [PD_DESC]
Index: []

In [71]:
# Checking the streets name with their total occurrences
ds[ds['ADDR_PCT_CD'].notnull()].groupby(['ADDR_PCT_CD']).size().to_frame('size').reset_index()

   ADDR_PCT_CD   size
0            1  12171
1           10   8415
2          100   5901
3          101   9672
4          102  13326
5          103  18521
6          104  14033
7          105  15809
8          106  13143
9          107  10111
10         108  10882
11         109  16777
12         110  14795
13         111   6109
14         112   7603
15         113  18100
16         114  19819
17         115  17359
18         120  16608
19         121  14975
20         122  11136
21         123   6024
22          13  15415
23          14  23550
24          17   6364
25          18  17250
26          19  12768
27          20   8382
28          22    832
29          23  13659
..         ...    ...
47          49  14182
48           5   9236
49          50   9515
50          52  22675
51           6  10902
52          60  13715
53          61  12406
54          62  12810
55          63  10571
56          66   9846
57          67  21420
58          68  10335
59          69  10269
60           7   8466
61          70  16493
62          71  15126
63          72  11460
64          73  21270
65          75  36460
66          76   5552
67          77  15127
68          78   8475
69          79  15493
70          81  13138
71          83  14064
72          84  10669
73          88   8773
74           9  11896
75          90  14203
76          94   7971

[77 rows x 2 columns]